
<%= render "section", id: "brendan", next: "carwen", image: "babyB.jpg", date: "21 - March - 1987",
 details: "Brendan John Cox", location: "Wellington - NZ", imageleft: true %>

<%= render "section", id: "carwen", next: "meet", image: "babyC.jpg", date: "14 - December - 1988",
 details: "Carwen Sian Barnard", location: "Abergavenny - Wales", imageleft: false %>

<%= render "section", id: "meet", next: "uk2015", image: "firstdate.jpg", date: "07 - February - 2015",
 details: "First date", location: "Wellington - NZ", imageleft: true %>

<%= render "section", id: "uk2015", next: "ny2016", image: "uk2015.jpg", date: "October - 2015",
 details: "Meet Carwen's parents", location: "Holly Lodge - Wales", imageleft: false %>

<%= render "section", id: "ny2016", next: "aus2017", image: "ny2016.jpg", date: "July - 2016",
 details: "The Big Apple", location: "New York - New York", imageleft: true %>

<%= render "section", id: "aus2017", next: "eira", image: "Ausland.jpg", date: "May - 2017",
 details: "Trip to Australia", location: "Queensland and NSW - Australia", imageleft: false %>

<%= render "section", id: "eira", next: "engaged", image: "eiraborncropped.jpg", date: "19 - December - 2017",
 details: "Eira was born!", location: "Wellington - NZ", imageleft: true %>

 <%= render "section", id: "engaged", next: "house", image: "engaged.jpg", date: "29 - May - 2018",
 details: "We got engaged", location: "Paris - France", imageleft: false %>

 <%= render "section", id: "house", next: "uk2019", image: "boughthouse.jpg", date: "01 - October - 2018",
 details: "We brought a house", location: "Wellington - NZ", imageleft: true %>

 <%= render "section", id: "uk2019", next: "marriage", image: "hollylodge2019.jpg", date: "November - 2019",
 details: "More time in Wales", location: "Holly Lodge - Wales", imageleft: false %>

 <%= render "section", id: "marriage", next: "savethedate", image: "rings.jpg", date: "7 - February - 2020",
 details: "We'll officially get married", location: "Wellington - NZ", imageleft: true %>


<section class="hero is-fullheight" id="savethedate">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                        <div class ="savethedate_date">08 - February - 2020</div>
                        <div class ="savethedate_details">
                            <p>Save the date!</p>
                            <p> You're invited to our reception.</p>
                            <p>Exact time and place to be confirmed. Look forward to seeing you there!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

